<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title><%= Application.get_env(:frontend, :settings, "Sorin")[:app_name] %></title>

    <link rel="apple-touch-icon" sizes="57x57" href="<%= Routes.static_path(@conn, "/favicon/apple-touch-icon-57x57.png") %>" />
    <link rel="apple-touch-icon" sizes="114x114" href="<%= Routes.static_path(@conn, "/favicon/apple-touch-icon-114x114.png") %>" />
    <link rel="apple-touch-icon" sizes="72x72" href="<%= Routes.static_path(@conn, "/favicon/apple-touch-icon-72x72.png") %>" />
    <link rel="apple-touch-icon" sizes="144x144" href="<%= Routes.static_path(@conn, "/favicon/apple-touch-icon-144x144.png") %>" />
    <link rel="apple-touch-icon" sizes="60x60" href="<%= Routes.static_path(@conn, "/favicon/apple-touch-icon-60x60.png") %>" />
    <link rel="apple-touch-icon" sizes="120x120" href="<%= Routes.static_path(@conn, "/favicon/apple-touch-icon-120x120.png") %>" />
    <link rel="apple-touch-icon" sizes="76x76" href="<%= Routes.static_path(@conn, "/favicon/apple-touch-icon-76x76.png") %>" />
    <link rel="apple-touch-icon" sizes="152x152" href="<%= Routes.static_path(@conn, "/favicon/apple-touch-icon-152x152.png") %>" />

    <link rel="icon" type="image/png" href="<%= Routes.static_path(@conn, "/favicon/favicon-196x196.png") %>" sizes="196x196" />
    <link rel="icon" type="image/png" href="<%= Routes.static_path(@conn, "/favicon/favicon-96x96.png") %>" sizes="96x96" />
    <link rel="icon" type="image/png" href="<%= Routes.static_path(@conn, "/favicon/favicon-32x32.png") %>" sizes="32x32" />
    <link rel="icon" type="image/png" href="<%= Routes.static_path(@conn, "/favicon/favicon-16x16.png") %>" sizes="16x16" />
    <link rel="icon" type="image/png" href="<%= Routes.static_path(@conn, "/favicon/favicon-128.png") %>" sizes="128x128" />

    <meta name="application-name" content="SORIN"/>
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="<%= Routes.static_path(@conn, "/favicon/mstile-144x144.png") %>" />
    <meta name="msapplication-square70x70logo" content="<%= Routes.static_path(@conn, "/favicon/mstile-70x70.png") %>" />
    <meta name="msapplication-square150x150logo" content="<%= Routes.static_path(@conn, "/favicon/mstile-150x150.png") %>" />
    <meta name="msapplication-wide310x150logo" content="<%= Routes.static_path(@conn, "/favicon/mstile-310x150.png") %>" />
    <meta name="msapplication-square310x310logo" content="<%= Routes.static_path(@conn, "/favicon/mstile-310x310.png") %>" />

    <link type="text/css" rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>">
    <script type="text/javascript">
    <%= if @current_user do %>
    window.userToken = "<%= @current_user %>";
    <% end %>
    window.csrfToken = "<%= @token %>";
    <%= if get_flash(@conn, :info) do %>
    window.flashInfo = "<%= get_flash(@conn, :info) %>";
    <% end %>
    <%= if get_flash(@conn, :error) do %>
    window.flashError = "<%= get_flash(@conn, :error) %>";
    <% end %>
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <base href="/">
  </head>

  <body>
    <%= render @view_module, @view_template, assigns %>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>